/packages
/.vs
/Cookbook.BussinessLayer/bin
/Cookbook.BussinessLayer/obj
/Cookbook.Data/bin
/Cookbook.Data/obj
/CookbookApi/bin
/CookbookApi/obj
/CookbookApi/CookbookApi.csproj.user
/CookbookApi.Tests/bin
/CookbookApi.Tests/obj
/CookbookApi.Tests/CookbookApi.Tests.csproj.user
/Cookbook.BussinessLayer.Test/obj/Debug
/CookbookApi/logs
/Cookbook.BussinessLayer.Test/bin/Debug
/Cookbook.Client/.vs/Cookbook.Client/v14
/Cookbook.Client/bin/Debug
/Cookbook.Client/obj/Debug
/Cookbook.Client.Module/obj/Debug
/Cookbook.Client.Module/bin/Debug
